---
layout: default
---

<div class="landing-head-wrap">
    {% include header.html %}

    <div class="landing-hero">
        <div class="container">
            <p class="landing-motto">Le site d'information sur la mobilité électrique en Suisse romande</p>
        </div>
    </div>
</div>

<div class="landing-what">
    <div class="container">
        <p class="landing-what-text">EV Romandie c'est...</p>

        <div class="row landing-what-blocks">
            <div class="col">
                <a class="what" href="https://www.youtube.com/channel/UCNGDiG3zqA-sUW0utDszY0Q">
                    <i class="block-icon fa fa-youtube-play"></i>
                    Une chaîne YouTube

                    <em><i class="fa fa-youtube-play"></i> / EV Romandie</em>
                </a>
            </div>
            <div class="col">
                <a class="what" href="https://www.flickr.com/photos/evromandie/albums">
                    <i class="block-icon fa fa-flickr"></i>
                    Des galeries Flickr

                    <em><i class="fa fa-flickr"></i> @evromandie</em>
                </a>
            </div>
            <div class="col">
                <a class="what" href="/">
                    <i class="block-icon fa fa-globe"></i>
                    Des ressources en ligne

                    <em>(c'est ici !)</em>
                </a>
            </div>
            <div class="col">
                <a class="what" href="{{ site.forum_url }}">
                    <i class="block-icon fa fa-comments"></i>
                    Une communauté

                    <em>forum.evromandie.ch</em>
                </a>
            </div>
        </div>

        <div class="build-in-progress">
            Le site est en construction, n'hésitez pas à faire part de vos expériences et suggestions sur notre
            forum !
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>
                Nos dernières activités dans la timeline Twitter
                <i class="fa fa-arrow-right"></i>
            </p>

            <p>Suivez-nous sur les réseaux sociaux:</p>

            <ul>
                {% for link in site.social_links %}
                <li><a href="{{ link.url }}" title="{{ link.title }}">
                    <i class="fa fa-{{ link.icon }}"></i>
                    {{ link.label }}
                </a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <a class="twitter-timeline" data-lang="fr" data-height="1000" href="https://twitter.com/evromandie">Tweets
                by RobotsJU</a>
        </div>
    </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
