---
layout: default
---

<div class="landing-head-wrap">
    {% include header.html %}

    <div class="landing-hero">
        <div class="container">
            <p class="landing-motto"><span class="text-background">Le site d'information sur la mobilité électrique en Suisse romande</span></p>
        </div>
    </div>
</div>

<div class="landing-what">
    <div class="container">
        <p class="landing-what-text">EV Romandie c'est...</p>

        <div class="row landing-what-blocks">
            <div class="col-md-3">
                <a class="what" href="https://www.youtube.com/channel/UCNGDiG3zqA-sUW0utDszY0Q">
                    <i class="block-icon fa fa-youtube-play"></i>
                    Une chaîne YouTube

                    <em><i class="fa fa-youtube-play"></i> / EV Romandie</em>
                </a>
            </div>
            <div class="col-md-3">
                <a class="what" href="https://www.flickr.com/photos/evromandie/albums">
                    <i class="block-icon fa fa-flickr"></i>
                    Des galeries Flickr

                    <em><i class="fa fa-flickr"></i> @evromandie</em>
                </a>
            </div>
            <div class="col-md-3">
                <a class="what" href="/">
                    <i class="block-icon fa fa-globe"></i>
                    Des ressources en ligne

                    <em>(c'est ici !)</em>
                </a>
            </div>
            <div class="col-md-3">
                <a class="what" href="{{ site.forum_url }}">
                    <i class="block-icon fa fa-comments"></i>
                    Une communauté

                    <em>forum.evromandie.ch</em>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container my-3">
    <h2>Dernières publications</h2>

    <div class="row">
        {% for post in site.posts limit:6 %}
        <div class="col-md-4">
            {% include post-card.html %}
        </div>
        {% cycle '', '', '</div><div class="row">' %}
        {% endfor %}
    </div>


    <p><a href="/publications">Toutes les publications</a></p>
</div>
