---
layout: page
permalink: /vehicules
title: Véhicules électriques sur le marché
script: filters.js
---

<p>
    Une liste des véhicules électriques actuellement disponibles sur le marché.
</p>

<p>
    La liste est en cours de construction, n'hésitez pas à partager vos suggestions via GitHub ou notre forum.
</p>

<p>
    Les filtres sont pour l'instant très sommaire et ne permettent de filtrer qu'une colonne à la fois.
</p>

<table class="table">

    <thead>
    <tr>
        <th data-filter="make">Modèle</th>
        <th>Liens</th>
        <th data-filter="seats">Places</th>
        <th>Batterie</th>
        <th data-filter="ac-speed">Recharge AC</th>
        <th data-filter="dc-speed">Recharge DC</th>
    </tr>
    </thead>

    {% for car in site.data.cars %}

    <tr data-make="{{ car.make }}" data-seats="{{ car.seats }}" data-ac-speed="{{ car.ac_speed }}" data-dc-speed="{{ car.dc_speed }}">
        <td>
            <strong>
                {{ car.make }}
                {{ car.name }}
            </strong>
            {% if car.since or car.retired %}
            <br>
            {{ car.since }} - {{ car.retired }}
            {% endif %}
        </td>
        <td>
            {% if car.wiki %}
            <a href="https://fr.wikipedia.org/wiki/{{ car.wiki }}" title="Sur Wikipedia (Français)" target="_blank" rel="nofollow"><i class="fa fa-wikipedia-w"></i> (fr)</a>
            {% endif %}

            {% if car.wiki_en %}
            <a href="https://en.wikipedia.org/wiki/{{ car.wiki_en }}" title="Sur Wikipedia (Anglais)" target="_blank" rel="nofollow"><i class="fa fa-wikipedia-w"></i> (en)</a>
            {% endif %}

            {% if car.url %}
            <a href="{{ car.url }}" title="Site du fabricant" target="_blank" rel="nofollow"><i class="fa fa-globe"></i></a>
            {% endif %}
        </td>
        <td>
            {% if car.seats %}
            {{ car.seats }}
            {% else %}
            <span class="text-muted">N/A</span>
            {% endif %}
        </td>
        <td>
            {% if car.battery %}
            {{ car.battery }} <span class="text-muted">kWh</span>
            {% else %}
            <span class="text-muted">N/A</span>
            {% endif %}
        </td>
        <td>
            {% for plug in car.plugs %}{% if plug == 'type1' or plug == 'type2' or plug == 't13' %}
            {{ plug }}
            {% endif %}{% endfor %}
            {% if car.ac_speed %}
            @ {{ car.ac_speed }} <span class="text-muted">kW</span>
            {% endif %}
        </td>
        <td>
            {% for plug in car.plugs %}{% if plug == 'ccs1' or plug == 'ccs2' or plug == 'chademo' or plug == 'tesla' %}
            {{ plug }}
            {% endif %}{% endfor %}
            {% if car.dc_speed %}
            @ {{ car.dc_speed }} <span class="text-muted">kW</span>
            {% endif %}
        </td>
    </tr>

    {% endfor %}

</table>
