---
layout: page
permalink: /youtube
title: YouTube
---

<p>
    La meilleure source d'information sur la mobilité électrique sont les nombreuses vidéos produites par des médias ou entousiastes sur YouTube.
    Ci-dessous vous trouverez les chaînes YouTube les plus importantes dans différents domaines.
</p>

<h2>Nos favoris</h2>

{% assign channels = site.data.youtube_channels | where:"highlight",1 %}
{% include youtube-channels.html %}

<h2>Les chaînes connues</h2>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="par-langue-tab" data-toggle="tab" href="#par-langue" role="tab" aria-controls="par-langue" aria-selected="true">Par langue</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="par-pays-tab" data-toggle="tab" href="#par-pays" role="tab" aria-controls="par-pays" aria-selected="false">Par pays</a>
  </li>
</ul>
<div class="tab-content mt-3">
  <div class="tab-pane fade show active" id="par-langue" role="tabpanel" aria-labelledby="par-langue-tab">
    <h3>Français</h3>
    {% assign channels = site.data.youtube_channels | where:'lang','fr' %}
    {% include youtube-channels.html %}

    <h3>Anglais</h3>
    {% assign channels = site.data.youtube_channels | where:'lang','en' %}
    {% include youtube-channels.html %}
  </div>
  <div class="tab-pane fade" id="par-pays" role="tabpanel" aria-labelledby="par-pays-tab">
    <h3>Suisse</h3>
    {% assign channels = site.data.youtube_channels | where:'country','CH' %}
    {% include youtube-channels.html %}

    <h3>France</h3>
    {% assign channels = site.data.youtube_channels | where:'country','FR' %}
    {% include youtube-channels.html %}

    <h3>Royaume-uni</h3>
    {% assign channels = site.data.youtube_channels | where:'country','UK' %}
    {% include youtube-channels.html %}

    <h3>Norvège</h3>
    {% assign channels = site.data.youtube_channels | where:'country','NO' %}
    {% include youtube-channels.html %}

    <h3>États-unis</h3>
    {% assign channels = site.data.youtube_channels | where:'country','US' %}
    {% include youtube-channels.html %}

    <h3>Canada</h3>
    {% assign channels = site.data.youtube_channels | where:'country','CA' %}
    {% include youtube-channels.html %}
  </div>
</div>
