<footer>
    <div class="container">
        <p>
            <a href="/politique-confidentialite">Politique de confidentialité</a>
            -
            <a href="/conditions-utilisation">Conditions d'utilisation</a>
            -
            <a href="/regles-forum">Règles du forum</a>
            -
            <a href="/a-propos">À propos</a>
            -
            <a href="/contact">Contact</a>
        </p>
        <p>
            Site réalisé par <a href="https://kilowhat.net/">Clark Winkelmann</a>
            -
            Source du site sur <a href="https://github.com/evromandie/evromandie.ch">GitHub</a>
        </p>
        <p>&copy; EV Romandie {{ "now" | date: "%Y" }}</p>
    </div>
</footer>
