<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/media/logo.svg?v=6685172d1bf407c22157bb2cb1bc7f9e" alt="Logo EV Romandie">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% for link in site.main_menu %}
                    {% assign current = '' %}
                    {% if page.url == link.url %}{% assign current = ' active' %}{% endif %}
                    {% if page.url == '/index.html' and link.url == '/' %}{% assign current = ' active' %}{% endif %}
                    {% if link.children %}{% for child in link.children %}{% if page.url == link.url %}{% assign current = ' active' %}{% endif %}{% endfor %}{% endif %}
                    <li class="nav-item{{ current }}{% if link.children %} dropdown{% endif %}">
                        {% if link.children %}
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ link.title }}
                        </a>
                        <div class="dropdown-menu">
                            {% for child in link.children %}
                            {% assign current = '' %}
                            {% if page.url == child.url %}{% assign current = ' active' %}{% endif %}
                            <a class="dropdown-item" href="{{ child.url }}">
                                {{ child.title }}
                                {% if child.external %} <i class="fa fa-external-link"></i>{% endif %}
                            </a>
                            {% endfor %}
                        </div>
                        {% else %}
                        <a href="{{ link.url }}" class="nav-link">
                            {{ link.title }}
                            {% if link.external %} <i class="fa fa-external-link"></i>{% endif %}
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li class="nav-item nav-item-forum">
                        <a href="{{ site.forum_url }}" class="nav-link">
                            <i class="fa fa-comments"></i>
                            Communauté
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
