.navbar-light .nav-item-forum {
    margin-left: 1em;

    .nav-link {
        background: $brand-color-blue;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        padding-left: 1em;
        padding-right: 1em;

        &:hover {
            color: white;
            background: darken($brand-color-blue, 10%);
        }
    }
}

@include media-breakpoint-down('md') {
    header {
        background: white;
    }

    .navbar-light .nav-item-forum {
        margin-left: 0;
    }
}

header {
    margin-bottom: 40px;
}

footer {
    background: #f3f3f3f3;
    min-height: 200px;
    margin-top: 40px;
    padding: 60px 0;

    a {
        color: #888;
    }
}

.footer-social {
    list-style: none;
    padding: 0;
    text-align: right;

    li {
        display: inline-block;
    }

    .fa {
        display: block;
        font-size: 30px;
        padding: 0 10px;
    }
}
