.landing-head-wrap {
    background: url(/media/landing-hero.jpg?v=5365c98d195230eeb54a5f8c1d76c1be) no-repeat center center;
    background-size: cover;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 62px;
        box-shadow: 0 0 30px 30px rgba(white, 0.95);
        background: rgba(white, 0.95);
    }
}

.landing-hero {
    padding-bottom: 20px;
}

.landing-motto {
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    margin: 25vh 0 2vh;

    .text-background {
        background: $brand-color-blue;
        padding: 0.2em;
    }

    @media (min-width: 500px) {
        font-size: 2em;
    }

    @media (min-width: 1200px) {
        font-size: 3em;
    }
}

.landing-what {
    background: #f3f3f3f3;
    color: #333;
    padding: 2vh 0;
    margin-bottom: 20px;
}

.landing-what-text {
    text-align: center;
    font-size: 1.5em;
}

.landing-what-blocks {
    .what {
        display: block;
        color: inherit;
        text-align: center;
        border: 2px solid #ddd;
        padding: 2.5vh 10px 1vh;

        &:hover {
            border-color: #aaa;
            text-decoration: none;
        }

        .block-icon {
            vertical-align: middle;
            color: #ddd;
            font-size: 40px;
            margin-right: 10px;
        }

        em {
            display: block;
            font-style: normal;
            color: #999;
            margin-top: 1.5vh;
        }
    }
}
