<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Redirection vers {{ page.title }}...</title>
    <link rel="canonical" href="{{ page.redirect_url }}"/>
</head>
<body>
<h1>Redirection vers {{ page.title }}...</h1>
<a href="{{ page.redirect_url }}">Cliquez ici si la redirection ne s'effectue pas automatiquement</a>
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['setTrackerUrl', '{{ site.matomo.url }}piwik.php']);
        _paq.push(['setSiteId', '{{ site.matomo.id }}']);
        _paq.push(['trackPageView']);
    </script>
    <script src="{{ site.matomo.url }}piwik.js"></script>
    <script type="text/javascript">
        window.location = "{{ page.redirect_url }}";
    </script>
</body>
</html>
